:root {
  --primary: #1f77d4;
  --secondary: #fb8627;

  --fg: #111;
  --bg: #f6f7f8;
  --header-bg: #f6f7f8;
  --backlinks-bg: #f6f7f8;
  --backlinks-heading: #555;
  --page-bg: #fff;
  --grid-bg: #fff;
  --code-bg: none;
  --border-color: #e6e7e8;
  --link-color: var(--primary);
  --backlink-color: var(--primary);
  --active-link-background-color: #eee;
  --shadow-color: rgba(0, 0, 0, 0.075);
}

@media (prefers-color-scheme: dark) {
  /* Override for dark mode */
  :root {
    --primary: #1c98fc;

    --fg: #eee;
    --bg: #111;
    --grid-bg: #111;
    // --code-bg: #2e2a31;
    --header-bg: #262728;
    --backlinks-bg: #262728;
    --backlinks-heading: #999;
    --page-bg: #222;
    --border-color: #161718;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --active-link-background-color: #444;
  }
}
