{{ if eq .Title .Site.Title }} 
<title>{{ .Title }} – Index</title>
{{ else }}
<title>{{ .Title }} – {{ .Site.Title }}</title>
{{ end }}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes" />

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=2">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=2">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=2">
<link rel="icon" type="image/svg+xml" href="/favicon.svg?v=2">
<link rel="manifest" href="/site.webmanifest?v=2">

{{ $main := resources.Get "scss/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $main.Permalink }}"/>
