{{define "main"}}
<div class="grid">
  <div class="page" data-level="1">
    <h1 class="collapsed-title">Index</h1>
    <div class="content">
      <a href="/index" alt="Index" class="permalink"><h1>Index</h1></a>
      <p>Here are all {{ len .Site.AllPages }} notes that exist at the moment:</p>
      <ul>
      {{ $re := $.File.BaseFileName }}
      {{ range .Site.AllPages }}
        {{ if ne $re .File.BaseFileName }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end}}
      {{ end }}
      </ul>
    </div>
    </div>
 </div>
{{ $pagejs := resources.Get "js/page.js" }}
<script src="{{ $pagejs.Permalink }}" type="text/javascript"></script>
{{end}}
